// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY1: #808080;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY4: #505050;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #d0d0d0;
$GRAYE: #fbfbfb;

$BEIGE1: #f3eceb;
$DARK_BEIGE1: #73706f;
$DARK_BEIGE2: #a8955d;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$POINT_COLOR: #b8c4f5;
$POINT_COLOR1: #8c94ba;
$POINT_COLOR2: #6d79a8;
