@use '/src/styles/constants/colors';

.wrap {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 10px;
  background-color: colors.$WHITE;
  border-radius: 40px;
  box-shadow: 0 -5px 100px 0 rgba(gray, 0.1);

  .icon {
    flex: 1;
    margin: 0 auto;
    text-align: center;
    fill: gray;
    transition: all 100ms ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
