@use '/src/styles/constants/colors';

.cardWrap {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 10px;

  .img {
    border-radius: 20px;
  }

  button {
    position: absolute;
    top: 5px;
    right: 5px;

    .likedicon {
      fill: colors.$POINT_COLOR;
    }

    .unLikedicon {
      fill: colors.$GRAYD;
    }
  }
}
